@font-face {
  font-family: "PlayfairDisplay";
  src: url("/assets/fonts/PlayfairDisplay-Medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("/assets/fonts/PlayfairDisplay-Regular.ttf");
  font-weight: 500;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.body {
  font-family: "PlayfairDisplay";
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  border: 1px solid red;
}
.nav-list {
  list-style: none;
}
.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
}
.nav a {
  text-decoration: none;
  color: rgb(38, 133, 43);
  }
.main {
  border: 1px solid red;
}
.footer {
  border: 1px solid red;
}
