@font-face {
  font-family: "PlayfairDisplay";
  src: url("assets\fonts\PlayfairDisplay-Medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("assets\fonts\PlayfairDisplay-Regular.ttf");
  font-weight: 500;
}
.body {
  font-family: "PlayfairDisplay";
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* {
  box-sizing: border-box;
}
.header {
  border: 1px solid red;
}
.main {
  border: 1px solid red;
}
.footer {
  border: 1px solid red;
}
